html{
    scroll-behavior: smooth;
}


/*
#portafolio{
    height: 100svh;
    width: 100%;
    background: #b1e5f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.hw{
    width: 100%;
    background: #113642;
}

.contenedor_tareas{
    display: grid;
    justify-content: center;
}

.t_taras{
    margin-top: 90px;
    display: flex;
    justify-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 25px;
    font-size: 2rem;
}

.tareas{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
    align-items: flex-end;
}

.tarea{
    position: relative;
    width: 30%;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 10px;
    
}

.tarea_front, .tarea_back{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.img_hw{
    width: 100%;
    display: block;
}

.desc_hw{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    padding-top: 25px;
    text-align: center;
    transform: translatey(100%);
    transition: 0.5s ease-out;
}

.desc_hw a{
    text-decoration: none;
    color: white;
}

.tarea:hover .desc_hw{
    transform: translatey(50%);
    transition: 0.3s ease-out;
}

#contacto{
    height: 20svh;
    width: 100%;
    background: #7c7974;
    display: flex;
    justify-content: center;
}

.contenido_contac{
    width: 50%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descripciones .datos{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.descripciones{
    font-family: 'Lilita One', cursive;
    font-size: 20px;
    margin-left: 5px;
}

.datos{
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 5px;
}

.datos a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}



